.text-como {
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #201919;
}

.text-aproveitar {
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    color: #201919;
}
