.flex-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }

    .icon-text {
        font-size: 16px;
        line-height: 130%;
        color: #707070;
    }
}
